<footer class="page-footer font-small unique-color-dark pt-4"></footer>

<!-- <div  class="perc-region perc-region-leaf perc-fixed perc-vertical "  data-noautoresize="false" id="empty-region-wide"> <div class=" perc-vertical "></div></div><div  class="perc-region perc-region-leaf perc-vertical "  data-noautoresize="undefined" id="footer"> <div class=" perc-vertical "><div class="perc-widget" >
    <div id="footerSlideContainer">
        <div id="footer-top" class="">
        
          <div class="container">
      
  <div class="row">
           <div class="col-sm-3"></div>
           <div class="col-sm-2"></div>
           <div class="col-sm-2">
            <div id="cover">
             <div id="depth">
              <div id="button_outer">
               <div id="footerSlideButton"></div>
              </div>
             </div>
            </div>
           </div>
           <div class="col-sm-2"></div>
           <div class="col-sm-3"></div>
          </div>
         </div>
        </div>
        <div id="footerSlideContent">
         <div id="footerSlideText">
          <div class="container">
           <div class="row">
            <div class="col-lg-3 col-sm-3">
             <div class="toggle-footer-header">
              <h3>QUICK LINKS</h3>
             </div>
             <ul>
              <li><a href="https://www.dallascounty.org/criminalBackgroundSearch/" target="_blank">Criminal Background Search</a></li>
              <li><a href="https://www.dallascounty.org/dcwantedsearch/" target="_blank">Dallas County Wanted Search</a></li>
              <li><a href="https://www.dallascounty.org/ejuror/" target="_blank">eJuror</a></li>
              <li><a href="https://www.dallascounty.org/jaillookup/" target="_blank">Jail Lookup Search</a></li>
              <li><a href="https://www.dallascounty.org/government/county-clerk/marriage-license.php">Marriage License</a></li>
              <li><a href="https://www.dallascounty.org/government/county-clerk/official-and-legal-notices.php">Official and Legal Notices</a></li>
              <li><a href="https://www.dallascounty.org/government/comcrt/speakers.php">Register to Speak at Commissioners Court</a></li>
             </ul>
            </div>
            <div class="col-lg-3 col-sm-3">
             <div class="toggle-footer-header">
              <h3>LOCATIONS</h3>
             </div>
             <ul>
              <li><a href="https://maps.google.com/maps?q=133+North+Riverfront+Boulevard,+Dallas,+TX&amp;hl=en&amp;ll=32.777876,-96.813476&amp;spn=0.009237,0.014377&amp;sll=32.778327,-96.806374&amp;sspn=0.037237,0.057507&amp;oq=133&amp;hnear=133+N+Riverfront+Blvd,+Dallas,+Texas+75207&amp;t=m&amp;z=16" target="_blank">Frank Crowley Courts Building</a></li>
              <li><a href="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=600+commerce+st.,+dallas,+tx&amp;sll=37.0625,-95.677068&amp;sspn=46.630055,79.013672&amp;ie=UTF8&amp;ll=32.778254,-96.80618&amp;spn=0.01216,0.01929&amp;t=h&amp;z=16&amp;iwloc=r3" target="_blank">George Allen Courts Building</a></li>
              <li><a href="https://www.dallascounty.org/departments/juryservices/juryserv-park.php">Jury Services Parking</a></li>
              <li><a href="https://www.dallascounty.org/government/jpcourts/">Justice of the Peace Courts</a></li>
              <li><a href="https://www.dallascounty.org/government/district-clerk/passport-location.php">Passport Office Locations</a></li>
              <li><a href="https://www.dallascounty.org/government/courts/">State and County Courts</a></li>
              <li><a href="https://www.dallascounty.org/departments/tax/location-information.php">Tax Office Locations</a></li>
             </ul>
            </div>
            <div class="col-lg-3 col-sm-3">
             <div class="toggle-footer-header">
              <h3>EMPLOYEES</h3>
             </div>
             <ul>
    
               <li><a href="https://dallasportal1.dallascounty.org/OA_HTML/AppsLogin" target="_blank">Employee Self Service</a></li>
    
             </ul>
            </div>
            <div class="col-lg-3 col-sm-3">
             <div class="toggle-footer-header">
              <h3>OPEN RECORDS</h3>
             </div>
             <ul>
              <li><a href="https://www.dallascounty.org/Assets/uploads/docs/county-clerk/BirthandDeathApplicaitononline1.pdf" target="_blank">Birth/Death Certificate Info</a></li>
              <li><a href="https://www.dallascounty.org/Assets/uploads/docs/district-clerk/Request_DivorceDecree_103116.pdf" target="_blank">Divorce Decree Form</a></li>
              <li><a href="https://www.dallascounty.org/government/county-clerk/foreclosures.php">Foreclosure Notices</a></li>
              <li><a href="https://www.dallascounty.org/Assets/uploads/docs/legal-info/SecurePakInmateCommissaryProgram.pdf" target="_blank">Inmate Package Program</a></li>
              <li><a href="https://www.dallascounty.org/Assets/uploads/docs/district-clerk/New_LocalRules_for_CivilCourt.pdf" target="_blank">Local Rules Civil Courts </a></li>
              <li><a href="https://www.dallascounty.org/departments/pubworks/property-division.php">Real Estate for Sale</a></li>
              <li><a href="https://www.dallascounty.org/government/transparency/">Transparency</a></li>
             </ul>
            </div>
           </div>
           <div class="row">
            <div class="col-lg-12 lowerfooter"></div>
            <div class="col-sm-4 footer-logo">
    
             <br>
             <a href="https://www.geotrust.com/ssl/" target="_blank" ></a>
            </div>
            <div class="col-sm-4 credit">
             <p><a href="https://www.dallascounty.org/about-us/contact/">Contact Us</a> | <a href="https://www.dallascounty.org/about-us/help/">Help</a> | <a href="https://www.dallascounty.org/about-us/privacy-policy/">Privacy Policy</a> | <a href="https://www.dallascounty.org/about-us/ada/">ADA Statement</a> </p>
            </div>
            <div class="col-sm-4 verified">
             <a href="https://www.securitymetrics.com/site_certificate.adp?s=66.102.229.34&amp;i=62447" target="_blank" title="Security Metrics Credit Card Safe"> <img src="https://www.dallascounty.org/web_resources/themes/www-dallascounty-org/images/sm_ccsafe_check.gif" alt="Security Metrics Credit Card Safe" width="100" height="100%"> </a>
            </div>
           </div>
           <div class="row">
            <div class="col-lg-12 lowerfooter"></div>
            <div class="col-sm-4 footer-logo">
             <a href="/" class="info pull-left">
              <div class="firma">
               <img src="https://www.dallascounty.org/web_resources/themes/www-dallascounty-org/images/webimages/footer_logo.png" alt="Dallas County" width="150" height="100%">
              </div></a>
            </div>
            <div class="col-sm-4 credit">
             <p>© 2019. Dallas County. All rights reserved.</p>
            </div>
            <div class="col-sm-4 social">
             <a href="https://twitter.com/dallascountytx" target="_blank"> <img src="https://www.dallascounty.org/web_resources/themes/www-dallascounty-org/images/twitter.png" alt="Twitter" width="44" height="35"> </a>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
    
       </div>
       </div></div><div  class="perc-region perc-fixed perc-vertical "  data-noautoresize="false" id="bottom-area"> <div class=" perc-vertical "><div  class="perc-region perc-region-leaf perc-vertical "  data-noautoresize="undefined" id="temp-region-1"> <div class=" perc-vertical "><div class="perc-widget" >
    
       </div>
       </div></div></div></div>
 -->
