<div class="login">
    <div class="container transbox">
        <div class="container">

        <h1>Welcome to the Bean County Government task management site!</h1>
        <hr>
        <br>
        <h2 style="font-size: larger;">This site is meant to help elected city officals stay organized and up-to-date with their daily tasks.</h2>
        <h2 style="font-size: larger;">Simply click on 'View todos' and select the user whose daily tasks you would like to see.</h2>
        </div>
    </div>
</div>
