<div class="perc-widget" >
    <header id="main-header"> 
     <div class="wrapper"> 
      <a href="/" id="logo"> <img src="https://www.dallascounty.org/Assets/templates/header/logo.png" alt="DallasCounty.org"> </a> 
      <button class="toggle-menu cmn-toggle-switch__htx"> <span>toggle menu</span> </button> 
     </div> 
     <nav id="main-menu"> 
      <div id="top-drawer"> 
       <div id="top-menu"> 
               
                   
                 <a id="support" href="https://www.dallascounty.org/about-us/help/" title="Support"> <span>Support</span> 
                     <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="-360 137 28 28" width="22px" height="22px" enable-background="new -360 137 28 28" xml:space="preserve"> 
                      <path d="M-346,137c-7.1,0-13,5.3-13,11.9c0,5,3.4,9.3,8.4,11.1l-3.9,5c0,0,13.5-5,13.6-5.3c4.5-1.8,7.8-6.1,7.8-10.8
                                C-332.8,142.3-338.7,137-346,137z M-343.9,158.6h-4.6v-4.7h4.6V158.6z M-342.6,149.7c-1.1,0.7-1.2,2.3-1.2,2.3h-4.8
                                c-0.1,0-0.4-2.8,1.6-3.9c0.7-0.5,2.6-1.1,2.6-2.3c0-0.8-0.6-1.1-1.6-1.1c-1.7,0-1.7,2.1-1.7,2.6h-5.2c0.1-1.9,0.6-3.6,1.7-4.8
                                s2.8-2.3,5.3-2.3c4.9,0,6.5,2.8,6.7,5.1C-339.2,148.4-340.9,148.9-342.6,149.7z" /> 
                 </svg> </a> 
     
       </div> 
      </div> 
      <ul> 
       <li id="nav-home"> <a href="/" title="DallasCounty.org Home"> <img src="https://www.dallascounty.org/Assets/templates/header/logo.png" alt="DallasCounty.org"> </a> </li> 
       <li><a href="/"> 
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 32 32" width="20px" height="20px" enable-background="new 0 0 32 32" preserveaspectratio="none"> 
         <g> 
          <path fill="#676767" d="M15.4,14.2L7.6,3.5C10,1.8,12.4,1,15.4,1V14.2z"></path> 
          <path fill="#676767" d="M14.6,17.1L6.9,27.8C1,23.5-0.4,15.3,3.9,9.4c0.9-1.2,1.7-2.1,2.9-2.9L14.6,17.1z"></path> 
          <path fill="#676767" d="M17.4,17.7V4.5c7.3,0,13.2,5.9,13.2,13.2s-5.9,13.2-13.2,13.2c-2.9,0-5.4-0.8-7.8-2.5L17.4,17.7z"></path> 
         </g> 
        </svg> <span>View Todos</span></a> 
     </li>  
        
     <li id="nav-about"> <a href="/"> 
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 32 32" width="20px" height="20px" enable-background="new 0 0 32 32" preserveaspectratio="none"> 
       <g> 
        <path fill="#676767" d="M15.4,14.2L7.6,3.5C10,1.8,12.4,1,15.4,1V14.2z"></path> 
        <path fill="#676767" d="M14.6,17.1L6.9,27.8C1,23.5-0.4,15.3,3.9,9.4c0.9-1.2,1.7-2.1,2.9-2.9L14.6,17.1z"></path> 
        <path fill="#676767" d="M17.4,17.7V4.5c7.3,0,13.2,5.9,13.2,13.2s-5.9,13.2-13.2,13.2c-2.9,0-5.4-0.8-7.8-2.5L17.4,17.7z"></path> 
       </g> 
      </svg> <span>Add Todos</span></a> 
    </li> 
     <li><a href="/"> 
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 32 32" width="20px" height="20px" enable-background="new 0 0 32 32" preserveaspectratio="none"> 
       <g> 
        <path fill="#676767" d="M15.4,14.2L7.6,3.5C10,1.8,12.4,1,15.4,1V14.2z"></path> 
        <path fill="#676767" d="M14.6,17.1L6.9,27.8C1,23.5-0.4,15.3,3.9,9.4c0.9-1.2,1.7-2.1,2.9-2.9L14.6,17.1z"></path> 
        <path fill="#676767" d="M17.4,17.7V4.5c7.3,0,13.2,5.9,13.2,13.2s-5.9,13.2-13.2,13.2c-2.9,0-5.4-0.8-7.8-2.5L17.4,17.7z"></path> 
       </g> 
      </svg> <span>User Profile</span></a> 
    </li> 
    <li id="nav-about"> <a href="/"> 
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 32 32" width="20px" height="20px" enable-background="new 0 0 32 32" preserveaspectratio="none"> 
       <g> 
        <path fill="#676767" d="M15.4,14.2L7.6,3.5C10,1.8,12.4,1,15.4,1V14.2z"></path> 
        <path fill="#676767" d="M14.6,17.1L6.9,27.8C1,23.5-0.4,15.3,3.9,9.4c0.9-1.2,1.7-2.1,2.9-2.9L14.6,17.1z"></path> 
        <path fill="#676767" d="M17.4,17.7V4.5c7.3,0,13.2,5.9,13.2,13.2s-5.9,13.2-13.2,13.2c-2.9,0-5.4-0.8-7.8-2.5L17.4,17.7z"></path> 
       </g> 
      </svg> <span>Logout</span></a> 
    </li>    
      </ul> 
     </nav> 
    </header>
